<div class="admin-sidebar-brand">
    <img class="admin-brand-logo" src="/assets/img/logo.png" width="40" alt="atmos Logo">
    <div class="ml-auto">
        <a href="#" class="btn-ghost btn btn-rounded-circle">
            <i class="fe fe-menu"></i>
        </a>
        <a href="#" class="admin-close-sidebar"></a>
    </div>
</div>
<div class="admin-sidebar-wrapper js-scrollbar" style="font-size: 12px">
    <ul class="menu">
        <li class="menu-item active">
            <a href="/index.html" class="menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Trang chính">
                        Dashboard
                    </span>
                </span>
                <span class="menu-icon">
                     <i class="icon-placeholder fe fe-activity "></i>
                </span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính năng Download">Download Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-download"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item ">
                    <a href="/features/download-story-facebook.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Story Facebook</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/download-comment-video.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Comment Video</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/download-post-video.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Post Video</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/download-messages.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Messages</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính năng Thống kê">Statistics Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-bar-chart"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="/features/statistics-top-messages.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Top Messages</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/statistics-top-interactive.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name">Top Interactive</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính năng Tự động">Auto Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-compass"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="/features/auto-send-messages.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự Động Gửi Tin Nhắn">Auto Send Messages</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-reactions.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự Động Thả Cảm Xúc">Auto Reactions</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/reactions-profile.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự Động Thả Cảm Xúc Profile">Reactions Profile</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="/features/auto-comment.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự động Bình Luận">Auto Comment</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/comment-profile.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự Động Bình Luận Profile">Comment Profile</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-comment-post.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Tự Động Bình Luận 1 Bài Viết">Comment Single Post</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tự động trả lời Tin nhắn">Auto Reply Messages</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                     <i class="icon-placeholder fe fe-message-circle"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item ">
                    <a href="/features/auto-reply-events.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Quản lí sự kiện">Manage Events</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-reply-rules.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Quản lí hành động">Manage Actions</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-reply-guide.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Hướng dẫn sử dụng">Guide</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính năng bạn bè">Friend Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-users"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item">
                    <a href="/features/auto-poke-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Auto chọc bạn bè">Auto Poke Friends</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="/features/remove-uninteractive.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Xóa Bạn Bè Không Tương Tác">Remove Un-Interactive</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/remove-all-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Xóa Toàn Bộ Bạn Bè">Remove All Friends</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-accept-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Chấp Nhận Lời Mời K.B">Accept Friend Requests</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-decline-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Từ Chối Lời Mời K.B">Decline Friend Requests</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/unfollow-all-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Hủy Follow Toàn Bộ Bạn Bè">Unfollow All Friends</span>
                        </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/features/auto-accept-decline-friends.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Auto chấp nhận / từ chối lời mời K.B">Auto Accept / Decline Friends</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính Năng Rình Mò">Stalk Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-eye"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item ">
                    <a href="/features/find-liked-fanpages.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Xem Các Pages Đã Like">Find Liked Fanpages</span>
                        </span>
                        <span class="menu-icon">
                            <i class="icon-placeholder fe fe-flag"></i>
                        </span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="/features/find-joined-groups.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Xem Các Nhóm Đã Tham Gia">Find Joined Groups</span>
                        </span>
                        <span class="menu-icon">
                            <i class="icon-placeholder fe fe-users"></i>
                        </span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a href="/features/scan-comments.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Quét Comments">Scan Comments</span>
                        </span>
                        <span class="menu-icon">
                            <i class="icon-placeholder fe fe-message-square"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#" class="open-dropdown menu-link">
                <span class="menu-label">
                    <span class="menu-name">
                        <lang lang-vi="Tính Năng Hẹn giờ">Schedule Features</lang>
                        <span class="fe fe-chevron-down"></span>
                    </span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-clock"></i>
                </span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item ">
                    <a href="/features/schedule-message.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Hẹn Giờ Nhắn Tin">Schedule Message</span>
                        </span>
                    </a>
                </li>

                <li class="menu-item ">
                    <a href="/features/schedule-post.html" class=" menu-link">
                        <span class="menu-label">
                            <span class="menu-name" lang-vi="Hẹn Giờ Đăng bài">Schedule Post</span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="/features/post-story.html" class=" menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Đăng Story Không Giới Hạn">Upload Long Story</span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-film"></i>
                </span>
            </a>
        </li>

        <li class="menu-item">
            <a href="/features/change-posts-privacy.html" class=" menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Sửa Quyền Riêng Tư Bài Viết">Change Posts Privacy</span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-lock"></i>
                </span>
            </a>
        </li>

        <li class="menu-item">
            <a href="/features/avatar-shield.html" class=" menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Khiên Avatar">Avatar Shield</span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-shield"></i>
                </span>
            </a>
        </li>

        <li class="menu-item">
            <a href="/features/settings.html" class=" menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Thiết Lập Chung">Global Settings</span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-settings"></i>
                </span>
            </a>
        </li>

        <li class="menu-item no-premium">
            <a href="/upgrade.html" class=" menu-link">
                <span class="menu-label">
                    <span class="menu-name" lang-vi="Nâng Cấp Premium">Upgrade Premium</span>
                </span>
                <span class="menu-icon">
                    <i class="icon-placeholder fe fe-star"></i>
                </span>
            </a>
        </li>

    </ul>

</div>
