<nav class=" mr-auto my-auto">
    <ul class="nav align-items-center">

        <li class="nav-item">
        </li>
    </ul>
</nav>
<nav class=" ml-auto">
    <ul class="nav align-items-center">
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <img class="avatar avatar-sm avatar-online self-avatar rounded-circle" src="" alt="avatar"/>
            </a>
            <div class="dropdown-menu  dropdown-menu-right">
                <a class="dropdown-item safe-logout" href="#"> Safe Logout</a>
            </div>
        </li>
    </ul>
</nav>
